<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Management System</title>
    <link rel="stylesheet" href="/path/to/your/styles.css">
</head>
<body>
<header>
    <nav>
        <ul>
<!--            <li><a href="/home">Home</a></li>-->
<!--            <li><a href="/patients/register">Patient Registration</a></li>-->
<!--            <li><a href="/doctors/appointment">Doctor Appointment</a></li>-->
<!--            <li><a href="/doctors/consultation">Doctor Consultation</a></li>-->
        </ul>
    </nav>
</header>
