<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patients List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2 class="text-center">Patients List</h2>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>Contact Number</th>
            <th>Insurance Provider</th>
            <th>Insurance Number</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="patient : ${patients}">
            <td th:text="${patient.firstName}"></td>
            <td th:text="${patient.lastName}"></td>
            <td th:text="${patient.dob}"></td>
            <td th:text="${patient.contactNumber}"></td>
            <td th:text="${patient.insuranceProvider}"></td>
            <td th:text="${patient.insuranceNumber}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
